* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}
/* Menu */
.disabled {
    pointer-events:none;
    opacity:0.6;
}
/* Seat Layout Creator */
.layout {
	max-width: 100%;
	background-color: yellow;
}
.wrap-slick3-dots {
  width: 100%;
}
.slick3 {
  width: 80.64%;
}
.slick3-dots {
	margin-bottom: 10px;
}
.slick3-dots li {
	display: inline-block;
	margin-right: 6.66%;
	width: 20%;
    position: relative;
}
.slick3-dots li:last-child {
	margin-right: 0px;
}
.slick3-dots li img {
    width: 100%;
    float: left;
}
.slick-slider {
	width: 100%;
}
.slick-track {
	width: 100%;
}
.slick3-dot-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  border: 3px solid transparent;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.slick3-dot-overlay:hover {
  border: 3px solid #3AAFA9;
}
.slick3-dots .slick-active .slick3-dot-overlay {
  border: 3px solid #3AAFA9;
}
.slick-track {
	width: 500px;
	height: 600px;
}
.workspace {
	width:100%;
	height:100%;
	background-color: #DEF2F1;
}
.seat-cell {
	background-color: white;
	width: 4%;
	height: 3.5%;
	margin-right: 1.05%;
	margin-bottom: 3px;
	border: 1px solid gray;
	float: left;
}
.seat-space {
	width: 4%;
	height: 3.5%;
	margin-right: 1.05%;
	margin-bottom: 3px;
	float: left;
}
.seat-last-row {
	margin-bottom: 0px;
}
.seat-last-col {
	margin-right: 0px;
}
.seat-vacant {
	background-color: #14A76C;  /* green */
	border-color: #14A76C;
}
.seat-occupied {
	background-color: #FC4445;  /* red */
	border-color: #FC4445;
}
.seat-unavailable {
	background-color: #585858;  /* gray */
	border-color: #585858;
}
.seat-add {
	background-color: #05386B;  /* blue */
}
.seat-del {
	background-color: #FFFFFF;  /* white */
}
.dropdown-menu {
	min-width: 7rem;
}
#profile-msg {
	margin-left: 10px;
	color: green;
}