* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

/* Seat Layout Creator */
.layout {
	max-width: 100%;
	background-color: yellow;
}
.wrap-slick3-dots {
  width: 14.5%;
}
.slick3 {
  width: 80.64%;
}
.slick3-dots li {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}
.slick3-dots li img {
  width: 100%;
}
.slick3-dot-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  border: 3px solid transparent;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.slick3-dot-overlay:hover {
  border: 3px solid #888888;
}
.slick3-dots .slick-active .slick3-dot-overlay {
  border: 3px solid #888888;
}
.slick-track {
	width: 500px;
	height: 600px;
}
.workspace {
	width:100%;
	height:100%;
	background-color:yellow;
}
.seat-cell {
	background-color: white;
	width: 4%;
	height: 3%;
	border: 1px solid gray;
	display: inline-block;
}
.seat-space {
	width: 4%;
	height: 3%;
	display: inline-block;
}
.seat-vacant {
	background-color: green;
}
.seat-occupied {
	background-color: red;
}
.seat-reserved {
	background-color: orange;
}
.seat-add {
	background-color: blue;
}
.seat-del {
	background-color: white;
}
.dropdown-menu {
	min-width: 7rem;
}